<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Keycloak Auth Service</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<div class="container mt-5">
  <div class="text-center">
    <h1 class="display-4">Welcome to Keycloak Auth Service</h1>
    <p class="lead">You can select a page depending on your role:</p>
    <div class="btn-group mt-3">
      <a href="/auth/admin" class="btn btn-primary">Admin Page</a>
      <a href="/auth/user" class="btn btn-secondary">User Page</a>
      <a href="http://localhost:8081/admin/master/console/#/kaservice" class="btn btn-danger" target="_blank">
        Keycloak Admin Console</a>
    </div>
  </div>
</div>
</body>
</html>
